.contact {




    height: 100%;
    max-width: 1366px;
    display: flex;
    align-items: center;
    margin: auto;
    gap: 50px;

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1 {
            font-size: 100px;
            line-height: 88px;
        }

        span {
            font-weight: 300;
        }
    }


    .formContainer {
        flex: 1;
        position: relative;


        .phoneSvg {
            stroke: orange;
            position: absolute;
            margin: auto;
        }

        form {


            display: flex;
            flex-direction: column;
            gap: 20px;

            input,
            textarea {
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
                padding: 15px;
                font-size: 16px;

            }

            button {
                padding: 20px;
                border: none;
                background-color: orange;
                cursor: pointer;
                font-size: 20px;
                font-weight: 600;
            }
        }


    }
}