.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-weight: 200;
            font-size: 20px;
            color: rgb(208, 205, 205);
            text-align: right;
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid rgb(208, 205, 205);
            ;
        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {

            display: flex;
            gap: 50px;
            align-items: center;


            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1 {
                font-size: 96px;
                font-weight: 100;

                b {
                    font-weight: 600;
                }
            }

            button {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        // background-color: green;
        max-width: 1366px;
        margin: auto;

        .box {
            padding: 20px 30px ;
          
            margin: 15px;
            border: 0.5px solid rgb(208, 205, 205);
            border-radius: 20px;

            h2 {
                font-size: 30px;
                display: flex;
                justify-self: center;
                margin-top: 10px;
                margin: auto;
                margin-bottom: 5px;
            }


            p {
                font-size: 18px;
                line-height: 25px;
            }

            button {
                padding: 5px 10PX;
                // width: 60px;
                font-size: 15px;
                border-radius: 15px;
                margin-top: 7px;
                background:  Gray;
                font-weight: 500;
                border: 1px solid gray;
                cursor: pointer;
                color: white;
            }
        }
    }
}